---
import ContentCard from "@components/Home/ContentCard.vue";

const lastVideos = [
    {
        img: '/resources/thumbnails/Vercel.webp',
        title: '🔥 Vercel está en UN TERRIBLE PROBLEMA (¿Acaso es una estafa?)',
        description: 'Vercel es un increíble servicio de Cloud para deployar...',
        link: 'https://www.youtube.com/watch?v=Ull75rN181A',
        date:"hace 4 días"
    },
    {
        img: '/resources/thumbnails/Dino chrome.webp',
        title:  'Hice el Dino Chrome en JS (Y no lo podrás jugar)',
        description: 'Aquí hicimos el dino de chrome en menos de 1 hora...',
        link: "https://www.youtube.com/watch?v=eL4uYkfzYbM&",
        date:"hace 11 días"
    },
    {
        img: '/resources/thumbnails/Webs modernas.webp',
        title: 'Los 3 MEJORES Consejos para Hacer las WEB del FUTURO',
        description: 'En este vídeo te voy a compartir una serie...',
        link: "https://www.youtube.com/watch?v=zn-GL8e_oQE&",
        date:"hace 3 semanas"
    },
    {
        img: '/resources/thumbnails/Gemini vs ChatGpt.webp',
        title: '¿GEMINI ha SUPERADO a CHAT GPT?',
        description: 'Gemini, la inteligencia artificial creada...',
        link: "https://www.youtube.com/watch?v=nAiE8Br-R5k&",
        date:"hace 1 mes"
    }
];

---
<section class="bg-gradient-to-b from-gray-900 via-[#121212] to-[#121212] m-0 px-6 lg:px-[9rem] mb-16 w-full">
    <h2 class="font-semibold text-lg  mt-12">Contenido</h2>
    <div class="w-full grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 place-content-center gap-8 my-8">
        {
            lastVideos.map(({img, title, description, link, date})=>(
                <ContentCard 
                    link={link}
                    img={img} 
                    title={title} 
                    description={description} 
                    date={date}
                    client:load/>
            ))
        }
    </div>
</section>