---
interface Props {
    title: string;
    img: string;
    description: string;
    tags: string[];
    date: string;
    slug: string;
}
const { title, description, tags, img, date, slug } = Astro.props;
---
<div 
    transition:name={`${title}-blog-item`}
    style={`background-image:url(${img})`}
    class="relative w-full h-1/2 bg-cover bg-no-repeat bg-center backdrop:bg-black bg-opacity-70 rounded-lg hover:scale-[1.02] transition">
    <div class="absolute inset-0 rounded-lg bg-black bg-opacity-60 backdrop-filter -z-10"></div>
    <a href={`/blog/${slug}`}>
        <div class="p-5 pt-8">
            <h3 class="text-white font-bold text-lg">
                {title}
            </h3>
            <p 
                class="text-base text-gray-200 my-2">
                {description}
            </p>
        </div>
    </a>
    <footer class="flex justify-between p-5 pt-0">
        <div class="flex items-center gap-2 m-0 p-0">
            {
                tags?.map((tag: string) => (
                    <a class="text-sm text-yellow-400 hover:opacity-65">
                        {tag}
                    </a>
                ))
            }
        </div>
        <span class="flex justify-center items-center text-xs">{date}</span>
    </footer>
</div>
