---
import getBanner from "src/utils/getBannerAd";

interface Props{
    sponsor?: string[]
}

const {sponsor} = Astro.props;
const {link, text, img} = getBanner(0);
const linkUse = sponsor ? sponsor[1] : link;
const imgUse = sponsor ? sponsor[0] : img;
---

<a class="w-full opacity-70 hover:opacity-100 transition-opacity" href={linkUse} rel="noreferrer nofollow" target="_blank">
    <p class="">{text}</p>
    <img class="size-full object-contain" src={`/banners/horizontal/${imgUse}.webp`} alt={text}>
    <button class="font-bold text-xs p-1 px-2 text-gray-400 w-full text-center">Ver información</button>
</a>