---
import { Image } from "astro:assets";
import Layout from "./Layout.astro";
import HorizontalBanner from "@components/Blog/HorizontalBanner.astro";
const {img, title, description, sponsor} = Astro.props;
---

<Layout title={title} description={description}>
	<main class="w-full flex flex-wrap min-h-screen bg-gradient-to-br from-gray-950 to-black">
        <section class="pt-40 pb-6 lg:pb-20 w-full z-20 lg:px-[9rem] px-6 flex flex-col items-center justify-center gap-0 lg:gap-12 min-h-[550px]">
            <article 
                class="prose dark:prose-invert w-full prose-img:rounded-lg prose-a:no-underline prose-h1:mt-6">
                <Image
                    class="max-h-[300px] object-cover object-top"
                    transition:name={`${title}-blog-item`}
                    src={img} alt={description}
                    height={300}
                    width={800}/>
               
                <a id="back" href="/blog">Volver atrás</a>
                <slot/>
            </article>
            <HorizontalBanner sponsor={sponsor} description={description}/>                
        </section>
    </main>
</Layout>

<style>
    #back:hover{
        opacity: .7 !important; 
    }
    
</style>