---
import Layout from "./Layout.astro";
import BuyButton from "@components/Proyects/BuyButton.astro";
import { Image } from "astro:assets";

interface Props{
    titlePage:string, 
    descriptionPage:string,
    title:string, 
    description:string, 
    warning:string,
    img:string,
    link: {slug:string, text:string}
}
const {titlePage, descriptionPage, title, description, warning, img, link} = Astro.props;

const highlightText = (text:string)=> {
  return text.replace(/\/(.*?)\//g, "<span class='text-yellow-400'>$1</span>");
}

const isBook = (img:string)=>{
    return /Ebook/.test(img);
}

const titleUse = highlightText(title);
const warningUse = highlightText(warning);
const haveBook = isBook(img);

---

<Layout title={titlePage} description={descriptionPage}>
    <main class="w-full relative pt-32 md:pt-42 pb-20 min-h-[550px]" style="background-color: rgb(14 15 17);">
        <section 
            class="relative xl:px-[19rem] px-2 bg-top bg-no-repeat bg-cover"
            style="background-image: url('/resources/proyects/Layout_bg.webp')">
            <div class="bg-black opacity-40 absolute inset-0"></div>
            <div class="relative z-20">
                <h1 class="text-center font-bold text-2xl sm:text-3xl md:text-5xl text-balance mb-6 mt-12" set:html={titleUse}></h1>
                <p class="text-center font-normal text-sm md:text-lg">{description}</p>
                <div class=`${haveBook ? "mt-8" : "my-20"} w-full flex justify-center items-center`>
                    <Image class="max-w-[500px] min-w-[120px] animate-fade-in-up animate-delay-300" src={img} alt={description} width={500} height={600}/>
                </div>
                <p class="text-center font-normal text-gray-300">
                    <small class="text-base" set:html={warningUse}></small>
                </p>
                <BuyButton {...link}/>
            </div>

        </section>
        <div class="xl:px-[19rem] px-2">
            <slot/>    
        </div>
    </main>
</Layout>